{
  "サンプル配送先1": {
    "address": "東京都千代田区〇〇1-1-1",
    "leadTime": "1",
    "bRankFee": 1000,
    "aRankFee": 1500,
    "phone": "03-1234-5678"
  },
  "サンプル配送先2": {
    "address": "大阪府大阪市〇〇区2-2-2",
    "leadTime": "2",
    "bRankFee": 1200,
    "aRankFee": 1800,
    "phone": "06-1234-5678"
  },
  "サンプル配送先3": {
    "address": "愛知県名古屋市〇〇区3-3-3",
    "leadTime": "1",
    "bRankFee": 1100,
    "aRankFee": 1600,
    "phone": "052-123-4567"
  },
  "サンプル配送先4": {
    "address": "福岡県福岡市〇〇区4-4-4",
    "leadTime": "3",
    "bRankFee": 1300,
    "aRankFee": 2000,
    "phone": "092-123-4567"
  },
  "サンプル配送先5": {
    "address": "北海道札幌市〇〇区5-5-5",
    "leadTime": "4",
    "bRankFee": 1500,
    "aRankFee": 2200,
    "phone": "011-123-4567"
  }
}
